<!-- add form module in module in app.module.ts -->

<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">


    <div class="mb-3">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" ngModel required>
        
    </div>

    <div class="mb-3">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" ngModel>
    </div>

    <div class="mb-3">
        <label for="email">Email </label>
        <input type="text" id="email" name="email" ngModel>
    </div>

    <div class="mb-3">
        <label for="gender">Geneder</label>
        <input type="radio" value="male" name="gender" ngModel> Male
        <input type="radio" value="female" name="gender" ngModel> Female
    </div>

    <div class="mb-3">
        <label for="isMarried">Married</label>
        <input type="checkbox" name="isMarried" ngModel>
    </div>



    <select name="country" ngModel>
        <option [ngValue]="c.id" *ngFor="let c of countryList">
            {{c.name}}
        </option>
    </select>

    <p>
        <button class="btn btn-primary" type="submit">Submit</button>
    </p>

</form>