<div>
    <!-- <p [style]=colorStyle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quia.</p>
    <input type="text" (keyup)="save($event)">
    <input type="text" [(ngModel)]="twoway">
    <p>{{twoway}}</p> -->

    <ol>
        <li *ngFor="let i of arr">
            {{i}}
        </li>
    </ol>

    <table class="table table-striped">
        <tr *ngFor="let i of names">
            <td>{{i.fname}}</td>
            <td>{{i.lname}}</td>
            <td>{{i.age}}</td>
        </tr>
    </table>
</div>
