<!-- add form module in module in app.module.ts -->

<!-- {{1000|currency:"INR"}} -->

<h1>Post</h1>

<form #postForm="ngForm" (ngSubmit)="onSubmitPost(postForm)">


    <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" name="name" #fname="ngModel" ngModel>
    </div>
    
    <div class="form-group">
        <label for="salary">Salary</label> <br>
        <input type="number" name="salary" #lname="ngModel" ngModel>
    </div>

    <div class="form-group">
        <label for="joindate">JoinDate</label><br>
        <input type="datetime-local" name="joinDate" ngModel>
    </div>

    <div class="form-group">
        <button class="btn btn-primary my-3" type="submit">Submit</button>
    </div>

</form>

<br>
<h1>Put</h1>

<form #putForm="ngForm" (ngSubmit)="onSubmitPut(putForm)">

    <div class="form-group">
        <label for="id">Id</label><br>
        <input type="number" name="id" ngModel>
    </div>

    <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" name="name" #fname="ngModel" ngModel>
    </div>
    
    <div class="form-group">
        <label for="salary">Salary</label> <br>
        <input type="number" name="salary" #lname="ngModel" ngModel>
    </div>

    <div class="form-group">
        <label for="joindate">JoinDate</label><br>
        <input type="datetime-local" name="joinDate" ngModel>
    </div>

    <div class="form-group">
        <button class="btn btn-primary my-3" type="submit">Submit</button>
    </div>

</form>

<br>
<h1>Delete</h1>

<form #deleteForm="ngForm" (ngSubmit)="onSubmitDelete(deleteForm)">

    <div class="form-group">
        <label for="id">Id</label><br>
        <input type="number" name="id" ngModel>
    </div>

    <div class="form-group">
        <button class="btn btn-primary my-3" type="submit">Submit</button>
    </div>

</form>

<br>
<h1>Get</h1>

<div class="form-group">
        <button class="btn btn-primary my-3" type="submit" (click)="onSubmitGet()">Submit</button>
    </div>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>JoinDate</th>
    </tr>
    <tr *ngFor="let i of listData">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.salary}}</td>
        <td>{{i.joinDate}}</td>
    </tr>
</table>

<br>
<h1>GetById</h1>

<form #getByIdForm="ngForm" (ngSubmit)="onSubmitGetById(getByIdForm)">

    <div class="form-group">
        <label for="id">Id</label><br>
        <input type="number" name="id" ngModel>
    </div>

    <div class="form-group">
        <button class="btn btn-primary my-3" type="submit">Submit</button>
    </div>

</form>

<div *ngIf="found">
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>JoinDate</th>
    </tr>
    <tr>
        <td>{{listDataById.id}}</td>
        <td>{{listDataById.name}}</td>
        <td>{{listDataById.salary}}</td>
        <td>{{listDataById.joinDate}}</td>
    </tr>
</table>
</div>

<div *ngIf="!found">
    <p>{{e}}</p>
</div>

